<!-- {% load static %} -->

<div class="form-group">
    <label for="password">Password:</label>
    <br>
    <br>
    {% for row in p_images %}
    <div class="row no-gutters">
        {% for col in row %}
        <div class="col-2 no-gutters">
            <!-- {{ forloop.parentloop.counter0  }}-{{ forloop.counter0  }} -->
            <img src='{% static 'images/pwd/' %}{{ col }}.png' alt=" img" style="
                height: 50px;
                width: 50px;" id="{{ forloop.parentloop.counter0  }}{{ forloop.counter0  }}"
                onclick="onSelect({{forloop.parentloop.counter0}}, {{forloop.counter0}})">
        </div>
        {% endfor %}
    </div>
    <div style="padding-bottom: 15px;"></div>
    {% endfor %}
</div>