<!-- {% load static %} -->

<div class="form-group">
    <label for="password">Password:</label>
    <br>
    <br>
    {% for row in p_images %}
    <div class="row">
        {% for col in row %}
        <div class="col">
            <!-- {{ forloop.parentloop.counter0  }}-{{ forloop.counter0  }} -->
            <img src='{% static 'images/pwd/' %}{{ col }}.png' alt=" img" style="
                height: 50px;
                width: 50px;
                max-height: 100%;
                max-width: 100%;" id="{{ forloop.parentloop.counter0  }}-{{ forloop.counter0  }}"
                onclick="onSelect({{forloop.parentloop.counter0}}, {{forloop.counter0}})">
        </div>
        {% endfor %}
    </div>
    <br>
    {% endfor %}
</div>