{% extends 'base.html' %}

{% block title %}
Register Page
{% endblock %}


{% block content %}
<div class="mx-auto" style="width: 400px; padding: 32px 0px">
    <div class="content-section">
        <form class="" action="" method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Register</legend>
            </fieldset>

            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username">
            </div>

            <br>
            {% include 'pwd.html' %}

            <br>

            <div class="form-group">
                <button type="submit" class="btn btn-outline-info">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an account? <a href="{% url 'login' %}" class="ml-2">Sign In</a>
            </small>
        </div>
    </div>
</div>
{% endblock %}